@model BaseModel.Models.BaseModels.Home
@{
    
}

@section head{
    <meta id="description" content="@Model.MetaDescription" />
}

<h1>
    Home
</h1>
<p>
    @Model.Text
</p>
<img src="~/Content/Images/Layout/@Model.Image" />
