@using BaseModel.Models.BaseModels
@model BaseModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.PageTitle - BaseModelPage</title>
    @RenderSection("head")
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/Home/Index">Home</a>
            </li>
            @foreach (Site site in (ViewBag.Pages as List<Site>))
            {
                <li>
                    <a href="/Home/Site/@site.PageID">@site.PageTitle</a>
                </li>
            }
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
